<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
#if($data)
	<table>
		<tr>
			<td>Name</td><td>Change</td></tr>
		<tr>
			<td>${data.name}</td><td>${data.change}</td>
		</tr>
	</table>
#end
</body>
</html>